.env
.php_cs
.php_cs.cache
.DS_Store
/.idea/
/vendor/
/build/
/var/log/*
!var/log/.gitkeep
/var/tmp/*
!/var/tmp/cache/
/var/tmp/cache/*
!var/tmp/cache/.gitkeep
!/var/tmp/di/
/var/tmp/di/*
!var/tmp/di/.gitkeep
phpunit.xml
/docs/api/
/autoload.php
