<?xml version="1.0" encoding="UTF-8"?>
<apidoc
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/bear/api-doc/apidoc.xsd">
    <appName>BEAR\Skeleton</appName>
    <scheme>app</scheme>
    <docDir>docs</docDir>
    <format>html</format>
    <title>BEAR.Skeleton API</title>
    <description>API Document</description>
</apidoc>
