<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php">
  <coverage includeUncoveredFiles="false" processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/Bootstrap.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="resource">
      <directory>tests/Resource</directory>
    </testsuite>
    <testsuite name="hypermedia">
      <directory>tests/Hypermedia</directory>
    </testsuite>
    <testsuite name="http">
      <directory>tests/Http</directory>
    </testsuite>
  </testsuites>
</phpunit>
